CSS
*{
    margin: 0px;
    padding: 0;
}

/*Medias quries*/
/* Moble*/
     
@media only screen and (max-width: 480px) {
    .parrafosiniestro{
        text-indent: none;
    }
    .seguros,.siniestro1,.nosotros1{
        padding: none;
    }

   }
/*tablet*/
   @media only screen and (min-width:481px) and (max-width:768px) {
   
   }
/*dekstops*/
   @media only screen and (min-width:769px) and (max-width: 1280px) {
  

   }

    

    

/*Navegador-Header*/
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

*, *::before, *::after {
    box-sizing: border-box;
}

nav {
    display: block;
 }

 .navbar-brand img{
     width: 150px;
     height: 150px;
     padding: 10px;
     margin: 10px;
 }

 .titulo{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 40px;
     color:#212529 ;
 }

 .companias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
 }

 .imagen-header{
    background-image: url("../Multimedia/oficina.jpg");
    height: 700px;
    }

   .container1{
       padding: 50px;
   }


/*Titulos de los html*/
.servicios,.siniestros,.compañias{
    color:#005d9d ;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    font-size: 40px;
 }

 .servicios{
     padding: 100px;
 }

.nosotros{
    color:#005d9d ;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: left;
    font-size: 40px;
}
/*Fondo del body*/
body {
    background-color: #e0e0ed;
 
}

 .seguro{
    color:#005d9d ;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    font-size: 30px;

 }
     .h2,.h3{
        color:#005d9d ;
        font-family: Arial, Helvetica, sans-serif ;
        text-align: center;
        font-size: 30px;

     }   
     .nosotros{
        line-height: 50px;
     }

     .siniestro{
        padding: 20px;
     }

     .contacto{
        line-height: 50px;
     }

     /*Subtitulos*/
  .subtitulo {
      color: grey ;
      font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }


  /*Propiedades de los parrafos*/
  .parrafo{
      color: grey;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: left;
      text-indent: 200px;
  }

  .parrafo1{
      text-align: center;
  }

  .seguros{
      padding: 150px;
  }

  .parrafosiniestro{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    text-indent: 200px;
  }

  .h2s,.h3s{
      text-align: left;
      color:#005d9d;
  }
/*foto del logo*/
.fotologo {
    
    width: 250px;
    height: 250px;
    padding:30px ;
    margin:30px;
    
    
}

 

     
 
 /*Propiedades para las imagenes*/
 .image  a {
         display: none;
     }
     
     .image  a:hover {
         display: block;
     
     }
 
     .nosotros1{
         padding: 200px;
     }
 
     .siniestro1{
        text-align:left;
         padding: 150px;
     }
 
   

.footer{
    background-color:#6b95ff;
}