CSS
*{
    margin: 0px;
    padding: 0;
}

/*Medias quries*/
/* Moble*/
     
@media only screen and (max-width: 480px) {
    

   }
/*tablet*/
   @media only screen and (min-width:481px) and (max-width:768px) {
   
   }
/*dekstops*/
   @media only screen and (min-width:769px) and (max-width: 1280px) {
  

   }

    

/*Navegador horizontal a la izquierda*/
 
li{
    display:inline-block;
   
}

    

/*Navegador*/
.nav{
   background-color:#6b95ff;
}
li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    

    }

li a:hover{
    background-color: #375a9f;
    
}
/*efecto parallax del header*/
.imagen-header{
    background-image: url("../Multimedia/oficina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.container{
    padding:150px;
}

.img-conteiner{
    display: flex;
   
}


/*Titulos de los html*/
.titulo,.servicios,.siniestros,.compañias{
    color:#005d9d ;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    font-size: 40px;
 }

.nosotros{
    color:#005d9d ;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: left;
    font-size: 40px;
}
/*Fondo del body*/
body {
    background-color: #e0e0ed;
 
}

 .seguro{
    color:#005d9d ;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    font-size: 30px;

 }
     .h2,.h3{
        color:#005d9d ;
        font-family: Arial, Helvetica, sans-serif ;
        text-align: center;
        font-size: 30px;

     }   
     .nosotros{
        line-height: 50px;
     }

     .siniestro{
        padding: 20px;
     }

     .contacto{
        line-height: 50px;
     }

     /*Subtitulos*/
  .subtitulo {
      color: grey ;
      font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }


  /*Propiedades de los parrafos*/
  .parrafo{
      color: grey;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: left;
      text-indent: 200px;
  }

  .parrafo1{
      text-align: center;
  }

  .seguros{
      padding: 150px;
  }

  .parrafosiniestro{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    text-indent: 200px;
  }

  .h2s,.h3s{
      text-align: left;
      color:#005d9d;
  }
/*foto del logo*/
.fotologo {
    
    width: 250px;
    height: 250px;
    padding:30px ;
    margin:30px;
    
    
}
/*uso grid para las imagenes de las comáñias*/
img.seguros {
   display: grid;
   grid-template-columns: 1;
   grid-row: 2;
 
   }

 

     
 
 /*Propiedades para las imagenes*/
 .image  a {
         display: none;
     }
     
     .image  a:hover {
         display: block;
     
     }
 
     .nosotros1{
         padding: 200px;
     }
 
     .siniestro1{
        text-align:left;
         padding: 150px;
     }
 
   

.footer{
    background-color:#6b95ff;
}